asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
comtypes==1.2.0
crispy-bootstrap5==0.7
Django==4.2.5
django-bootstrap-v5==1.0.11
django-crispy-forms==2.0
Django-Gtts==0.4
django-tinymce==3.6.1
gTTS==2.3.2
idna==3.4
mysqlclient==2.2.0
Pillow==10.0.1
pypiwin32==223
pyttsx3==2.90
pywin32==306
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.5
